@model User
@{
    List<string> MostCommonPersonal = ViewData["MostCommonPersonal"] as List<string>;
}
<h1>@Model.Username's Most Common Words</h1>

@if(MostCommonPersonal != null && MostCommonPersonal.Count() > 0)
{
    @foreach (var e in MostCommonPersonal)
    {
        <p>@e</p>
    }
}
else if(MostCommonPersonal.Count == 0)
{
    <p>This user currently has no messages.</p>
}

<form action="/statistics">
    <button type="submit" class="btn btn-info">Back to Statistics</button>
</form>