<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/comment.css' rel='stylesheet'>
@model User

<h1>@Model.Name</h1>
<h6>@Model.Username</h6>
<form method="post" action="/users/delete/@Model.Id">
    <button type="submit" class="account-buttons" id="delete-button" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</button>
</form>
<form action="/users/edit/@Model.Id">
    <button type="submit" class="account-buttons">Edit Account</button>
</form>

<form method="post" action="/users/details/@Model.Id/message">
    <label class="add-message-label" for="Content">Add a New Message</label>
    <input class="add-message-input" type="text" name="Content" id="Content" placeholder="Start typing..."/>

    <button class="add-message-button" type="submit">Add Message</button>
</form>

<div class="messages">
<h3 class="your-messages">Your Messages</h3>
@foreach(var e in Model.Messages)
{
    <form method="post" action="/messages/delete/@e.Id">
            <button type="submit" onclick="return confirm('Are you sure you want to delete this message?')"><i class="gg-trash"></i></button>
    </form>
    <form action="/messages/edit/@e.Id">
        <button type="submit"><i class="gg-comment"></i></button>
    </form>
    
    <p><strong>@e.CreatedAt.ToString("M/d 'at' h:mm"):</strong> @e.Content</p> 
}
</div>

<!--
<div class="your-information">
<h3>Your Information</h3>
<ul>
    <li>Coming soon</li>
    <li>Coming soon</li>
    <li>Coming soon</li>
</ul>
</div>
-->
